[submodule "vendor/plugins/acts_as_commentable"]
	path = vendor/plugins/acts_as_commentable
	url = git://github.com/jackdempsey/acts_as_commentable
[submodule "vendor/plugins/flotomatic"]
	path = vendor/plugins/flotomatic
	url = git://github.com/xdotcommer/flotomatic
[submodule "vendor/plugins/workling"]
	path = vendor/plugins/workling
	url = git://github.com/purzelrakete/workling.git
[submodule "vendor/plugins/yaml_db"]
	path = vendor/plugins/yaml_db
	url = git://github.com/ludicast/yaml_db.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/mohawkjohn/acts_as_tree.git
[submodule "vendor/plugins/acts_as_reportable"]
	path = vendor/plugins/acts_as_reportable
	url = http://github.com/ruport/acts_as_reportable.git
