[submodule "vendor/plugins/acts_as_commentable"]
	path = vendor/plugins/acts_as_commentable
	url = git://github.com/jackdempsey/acts_as_commentable
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree
[submodule "vendor/plugins/flotomatic"]
	path = vendor/plugins/flotomatic
	url = git://github.com/xdotcommer/flotomatic
[submodule "vendor/plugins/workling"]
	path = vendor/plugins/workling
	url = git://github.com/purzelrakete/workling.git
