*.rb~
*.rake~
*.erb~
*.js~
*.css~
*.xcf
*.jpg
*.svg
*.gnumeric
*.sql
log/
README~
nbproject/
tmp/
data/
genes.At
genes.Ce
genes.Dm
genes.Hs
genes.Mm
genes.Sc
genes_phenes.At
genes_phenes.Ce
genes_phenes.Dm
genes_phenes.Hs
genes_phenes.Mm
genes_phenes.Sc
