<h1>Crossval Status</h1>

<h2>Fastknn</h2>
<div class="infobox">
<p>Fastknn is a C++ extension for k-nearest neighbors-based cross-validation.</p>
<dl>
  <dt>Gem Version</dt><dd><%= Fastknn::VERSION %></dd>
</dl>
<dl>
  <dt>Cached Matrices</dt><dd><%= cached_matrix_list %></dd>
</dl>
</div>