body {
    font-family: "Helvetica", sans-serif;
    font-size: large;
}

div.fixed {
    font-family: monospace;
    font-size: 4px;
    color:#CDCDCD;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.o {
    background-color: black;
}

.m {
    background-color: blue;
    color: cyan;
}


#experiment_roc_plot { width:600px; height:600px}

.matrix_experiments {
    font-family: "Helvetica", sans-serif;
    font-size: small;
    padding: 4px;
    border-spacing: 0.5em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    border: 0;
    background-color: #EEE;
}

.matrix_experiments tr {
    background-color: #EEE;
    border-bottom: 5px solid #CCC;
}

.matrix_experiments tr td {
    border:0;
    padding: 0.2em;
}
.matrix_experiments tr th {
    border:0;
}
.experiment_id a {
    font-size:3em;
    font-weight:bold;
    text-decoration: none;
}

.experiment_argument_string {
    font-size:large;
    text-align:center;
}

#experiment_rocs,#experiments {
    border-collapse: collapse;
    font-family: 'Courier New',Courier,monospace;
}
#experiment_rocs td,th {
    border: 1px solid #AAA;
    padding: 2px;
}
#experiments td,th {
    border: 1px solid #AAA;
    padding: 2px;
}
#experiment_rocs tr.even {
    background-color: #CFC;
}
#experiments tr.even {
    background-color: #CFC;
}

table.sortable th a {
    text-decoration: none;
    color: black;
}

.experiment_data {
float: left;
margin-right: 1em;
}

.experiment_plot {
float: left;
width: auto;
position: relative;
}

#experiment_sources {
    list-style:none;
    float: left;
    clear: both;
    padding-left: 0;
    margin: 0;
}

td.legendLabel {
    font-size: 0.6em;
}

#flot_tooltip {
    font-size: 0.6em;
}

#flot_choices input[type="checkbox"] {
    clear: both;
    float: left;
}

span.flot_choice_label {
    font-size: 0.7em;
    float: left;
}

div.nav {
    float: right;
    text-align: right;
    font-size: 1.2em;
    font-family: "Helvetica", sans-serif;
}

ul#nav {
    list-style: none;
    padding-left: 0;
}
ul#nav li {
    display: inline;
    margin-left: 0;
    margin-right: 0.6em;
}

#experiment_list_toggle a {
    background-color: #A5dbF9;
    padding: 0.4em 0.7em 0.4em 0.7em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    color: #024769;
    font-weight: bold;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
}

#experiment_list_toggle a:hover {
    color: black;
}

ul#nav li a {
    background-color: #95cbe9;
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    color: #024769;
    font-weight: bold;
}

ul#nav li a:hover {
    color: black;
    background-color: #A5dbF9;
}

h1,h2,h3 {
    font-family: "Helvetica", sans-serif;
}

table th,td {
    font-family: "Helvetica", sans-serif;
}

ul.matrix_info {
    float: left;
    clear: both;
    list-style: none;
}
ul.matrix_info li {
    float: left;
    clear: both;
}

li.submatrix_info ul li {
    display:inline;
    clear: none;
}

li.submatrix_info div,a.submatrix_link {
    float: left;
    margin:0.2em;
}

li.submatrix_info a.submatrix_link {
    margin-left: 0.5em;
}

.container {
    float: left;
    clear: both;
}

ul.avatars {
    position:relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 152px;
    height: 152px;
    background-color: #DDD;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

dd.horiz ul.avatars,div.single_avatar {
    height: 76px;
    width: auto;
    margin: 0.3em 0 0.3em 0;
}

ul.avatars li {
    display: inline;
}

div.single_avatar {
    position: relative;
    padding: 0;
    width: 76px;
    background-color: #DDD;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.avatar a {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin: 6px;
    text-decoration: none;
}

.avatar a.mm {
    background-color: #8dfde8;
    background-image: url("/images/mm.png");
}

.avatar a.mmr {
    background-color: #8dfde8;
    background-image: url("/images/mmr.png");
}

.avatar a.hs {
    background-color: #ffcecd;
    background-image: url("/images/hs.png");
}

.avatar a.hsr {
    background-color: #ffcecd;
    background-image: url("/images/hsr.png");
}

.avatar a.ce {
    background-color: #ff7fc5;
    background-image: url("/images/ce.png");
}

.avatar a.cer {
    background-color: #ff7fc5;
    background-image: url("/images/cer.png");
}

.avatar a.sc {
    background-color: #feea7f;
    background-image: url("/images/sc.png");
}

.avatar a.scr {
    background-color: #feea7f;
    background-image: url("/images/scr.png");
}

.avatar a.dm {
    background-color: #FF5333;
    background-image: url("/images/dm.png");
}

.avatar a.dmr {
    background-color: #FF5333;
    background-image: url("/images/dmr.png");
}

.avatar a.at {
    background-color: #01bc05;
    background-image: url("/images/at.png");
}

.avatar a.atr {
    background-color: #01bc05;
    background-image: url("/images/atr.png");
}

ul.matrix_groups {
    list-style: none;
}

.matrix_group h2 {
    margin-top:0;
}

.matrix_groups li.matrix_group {
    display: inline;
    float: left;
    width: 300px;
    background-color: #DDD;
    padding: 1em;
    margin: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}
li.matrix_group ul {
    padding-left: 0;
    padding-right: 0;
}

ul.predict_matrices ul {
    margin-bottom: 2em;
}
ul.predict_matrices li {
    list-style: none;
}
.predict_matrices .avatar {
    margin: 2em;
}

ul.source_matrices ul {
    list-style: none;
}
ul.source_matrices li,ul.predict_matrix_info {
    display: inline;
}
ul.matrix_info_box {
    list-style: none;
    overflow: hidden;
    width: 250px;
}
ul.matrix_info_box li.info {
    background-color: yellow;
    display: none;
}

dl {
    display: block;
    margin: 0.5em 0;
    font-family: sans-serif;
    font-size: normal;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    padding: 0.2em 0;
}
dl dt {
    float: left;
    clear: left;
    text-align: right;
    display: block;
    position: relative;
    width: 9em;
    padding-right: 1.0em;
    font-weight: bold;
    border-top: 1px solid #CCC;
}
dl dd {
    margin-left: 10em;
    border-top: 1px solid #CCC;
    padding-right: 1em;
}
dl select,option,input {
    font-size: large;
}
dl dt:first-child { border-top: none; }
dl dd.noline { border-top: none; }

ul.gene_list { list-style: none; margin: 0; padding: 0; }
dd ul.gene_list { margin: 0 9em 0 0; }
ul.gene_list li { display: inline-block; cursor: pointer; margin: 5px; padding: 0.1em 0.3em 0.1em 0.3em; background-color: #D9A3FC; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border: 1px solid #CCC;}
ul.gene_list li:first-child { margin-left: 0; }
ul.known li, ul.gene_list li.known { background-color: #A3FCD9; }
/*ul.gene_list li:after { content: " "; }*/

.tooltip {
    display: none;
    background:url("/images/black_arrow_big.png");
    height:163px;
    padding:30px 30px 10px 30px;
    width:310px;
    font-size:11px;
    color:#fff;
    overflow: hidden;
}
.tooltip h1 {
    margin: 0;
    font-size: small;
    margin-top: -8px;
    padding-bottom: 0.3em;
}
.tooltip dl {
    font-size: smaller;
    margin: 0.2em;
    border: none;
}
.tooltip dt { width: 4.5em; padding-right: 0.5em; }
.tooltip dd { margin-left: 5em; }
.tooltip dt,.tooltip dd {
    border-top: 1px solid #444;
    padding-bottom: 0.4em;
    padding-top: 0.3em;
}

.tooltip .container {
    height: 130px;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

.tooltip a {
    color: yellow;
}