div.fixed {
    font-family: monospace;
    font-size: 4px;
    color:#CDCDCD;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.o {
    background-color: black;
}

.m {
    background-color: blue;
    color: cyan;
}

#experiment_roc_plot { width:600px; height:600px}

.matrix_experiments {
    font-family: "Helvetica", sans-serif;
    padding: 4px;
    border-spacing: 0.5em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    border: 0;
    background-color: #BBB;
}

.matrix_experiments tr {
    background-color: #CCC;
}

.matrix_experiments tr td {
    border:0;
    padding: 0.2em;
}
.matrix_experiments tr th {
    border:0;
}
.experiment_id {
    font-size:large;
    font-weight:bold;
}
.experiment_argument_string {
    font-size:large;
    text-align:center;
}

#experiment_rocs {
    border-collapse: collapse;
    font-family: 'Courier New',Courier,monospace;
}
#experiment_rocs td,th {
    border: 1px solid black;
    padding: 2px;
}

.experiment_data {
float: left;
width: 450px;
margin-right: 1em;
}

.experiment_plot {
float: left;
width: auto;
position: relative;
}

td.legendLabel {
    font-size: 0.6em;
}

#flot_tooltip {
    font-size: 0.6em;
}

#flot_choices input[type="checkbox"] {
    clear: both;
    float: left;
}

span.flot_choice_label {
    font-size: 0.7em;
    float: left;
}

div.nav {
    float: right;
    text-align: right;
    font-size: 1.2em;
    font-family: "Helvetica", sans-serif;
}

ul#nav {
    list-style: none;
    padding-left: 0;
}
ul#nav li {
    display: inline;
    margin-left: 0;
    margin-right: 0.6em;
}

#experiment_list_toggle a {
    background-color: #A5dbF9;
    padding: 0.4em 0.7em 0.4em 0.7em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    color: #024769;
    font-weight: bold;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
}

#experiment_list_toggle a:hover {
    color: black;
}

ul#nav li a {
    background-color: #95cbe9;
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    color: #024769;
    font-weight: bold;
}

ul#nav li a:hover {
    color: black;
    background-color: #A5dbF9;
}

h1,h2,h3 {
    font-family: "Helvetica", sans-serif;
}

table th,td {
    font-family: "Helvetica", sans-serif;
}


ul.avatars {
    position:relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 152px;
    height: 152px;
    background-color: #DDD;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

ul.avatars li {
    display: inline;
}

.avatar a {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    margin: 6px;
}

.avatar a.mm {
    background-color: #8dfde8;
    background-image: url("/images/mm.png");
}

.avatar a.hs {
    background-color: #ffcecd;
    background-image: url("/images/hs.png");
}

.avatar a.ce {
    background-color: #ff7fc5;
    background-image: url("/images/ce.png");
}

.avatar a.sc {
    background-color: #feea7f;
    background-image: url("/images/sc.png");
}

.avatar a.at {
    background-color: #01bc05;
    background-image: url("/images/at.png");
}
