<h1>New Experiment</h1>
<p>Please specify the type of experiment you'd like to create:</p>
<ul>
  <li><%= link_to "New John Predictor", new_matrix_john_predictor_path(@matrix) %></li>
  <li><%= link_to "New John Experiment", new_matrix_john_experiment_path(@matrix) %></li>
  <li><%= link_to "New Martin Experiment", new_matrix_john_experiment_path(@matrix) %></li>
</ul>